<nav class="site-nav grid">
    <h1>Jesse Caunter</h1>
    <ul>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
<section id="welcome" class="grid">
    <div class="welcome-text">
        <h2>Software &<br>Web Developer</h2>
        <p class="leading">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem inventore totam
            molestiae adipisci nesciunt ex ullam, itaque iusto doloribus quo obcaecati eos? Beatae ea similique
            cupiditate officiis perferendis harum velit?
        </p>
        <a href="#portfolio" class="button">View my work</a>
    </div>
    <div class="welcome-img">
        <img src="images/logo-transparent-bg.png" alt="ancient Greek architecture logo">
    </div>
</section>
<section id="portfolio">
    <h3>Some of my Projects</h3>
    <div class="projects grid">
        <a href="https://vast-forest-05388.herokuapp.com/">
            <img src="images/pupparazzi.jpg" alt="photo of a cute puppy">
            <h4>Pupparazzi</h4>
        </a>
        <a href="">
            <img src="images/pears.jpg" alt="photo of a bowl of pears">
            <h4>Project 2</h4>
        </a>
        <a href="">
            <img src="images/quaint-valley.jpg" alt="photo of a quaint valley">
            <h4>Project 3</h4>
        </a>
    </div>
</section>
<section id="skills">
    <h3>Things I Can Do</h3>
    <ul class="grid">
        <li>
            <img src="images/sketchbook.png" alt="sketchbook icon">
            <h4>JavaScript</h4>
        </li>
        <li>
            <img src="images/move.png" alt="move icon">
            <h4>React</h4>
        </li>
        <li>
            <img src="images/grid.png" alt="grid icon">
            <h4>Responsive Design</h4>
        </li>
        <li>
            <img src="images/pagination.png" alt="pagination icon">
            <h4>Test-Driven Development</h4>
        </li>
    </ul>
</section>
<section id="contact">
    <h3>Get in Touch</h3>
    <p class="leading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, veniam dignissimos incidunt tempore quidem
        facilis corrupti modi, ipsa officiis nihil dolore debitis laudantium est sequi laboriosam, deleniti ipsum harum
        ad?
    </p>
    <form>
        <input type="text" placeholder="NAME">
        <input type="email" placeholder="EMAIL">
        <textarea placeholder="YOUR MESSAGE"></textarea>
        <button class="button">Send Message</button>
    </form>
</section>
<footer>
    <div class="grid">
        <p class="copyright">Copyright 2021 Jesse Caunter</p>
        <ul class="social">
            <li><a href="https://www.linkedin.com/in/jessecaunter/"><img src="images/linkedin.png"
                        alt="linkedin icon"></a></li>
            <li><a href="https://twitter.com/jessecaunter"><img src="images/twitter.png" alt="twitter icon"></a></li>
        </ul>
    </div>
</footer>
<div>
    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
        title="Flaticon">www.flaticon.com</a>
</div>